.header {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0 var(--space-8);
  gap: var(--space-6);
  grid-template-columns: repeat(3, 1fr);
}

.logo,
.document,
.collaboration {
  display: flex;
  place-items: center;
}

.logo {
  place-content: flex-start;
}

.backLink {
  text-decoration: none;
  outline: none;
}

.backLink:hover,
.backLink:focus-visible {
  text-decoration: none;
}

.document {
  min-width: 0;
  font-weight: 500;
  place-content: center;
}

.collaboration {
  place-content: flex-end;
  gap: var(--space-6);
}

.presence {
  margin-right: var(--space-2);
}

.documentNameFallback {
  padding-right: var(--space-11);
}
